# Load and Explore Numpy and Pandas

In [12]:
# This piece of code enables display of multiple output from one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

<div class="alert alert-block alert-info">
## Numpy

In [1]:
import numpy as np

<div class="alert alert-block alert-warning">
### Create a numpy array and use attributes to access information about the array

In [2]:
grades = np.array([20,20,19,20,18,20])
dir(grades)

In [7]:
grades.sum()

117

In [9]:
temperatures = np.array([29.3, 42.1, 18.8, 16.1, 38.0, 12.5, 12.6, 49.9, 38.6, 31.3, 9.2, 22.2]).reshape(2, 2, 3)
temperatures

array([[[29.3, 42.1, 18.8],
        [16.1, 38. , 12.5]],

       [[12.6, 49.9, 38.6],
        [31.3,  9.2, 22.2]]])

In [13]:
temperatures.max()
temperatures.max(axis=0)
temperatures.max(axis=1)
temperatures.max(axis=2)

49.9

array([[29.3, 49.9, 38.6],
       [31.3, 38. , 22.2]])

array([[29.3, 42.1, 18.8],
       [31.3, 49.9, 38.6]])

array([[42.1, 38. ],
       [49.9, 31.3]])

In [15]:
tempB = np.arange(9).reshape(3,3)
tempB
tempB % 2 == 0

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

array([[ True, False,  True],
       [False,  True, False],
       [ True, False,  True]])

<div class="alert alert-block alert-warning">
### Array Indexing

In [21]:
tempC= np.arange(24).reshape(4,6)
tempC
#tempC[:,1]
tempC[2,:3]

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

array([12, 13, 14])

<div class="alert alert-block alert-warning">
### dir() function

In [ ]:
dir(tempB)

<div class="alert alert-block alert-info">
## Pandas

In [2]:
import pandas as pd

## Data Loading and Wrangling

1. Load the data
2. check for duplicates
3. Check for missing values
4. Date transformation (pd.to_datetime()) # https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
5. Subsetting the data (selecting columns [[]] , selecting rows using .loc)
6. Groupby
7. Compute summary statistics

### load the dataset

In [3]:
ames = pd.read_csv("../Data/AmesHousing.csv", index_col="Order")

In [4]:
ames.tail(10)

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
Order,,,,,,,,,,,,,,,,,,,,,
2921,923228310,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,71000
2922,923229110,90,RL,55.0,12640,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,150900
2923,923230040,90,RL,63.0,9297,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Family,188000
2924,923250060,20,RL,80.0,17400,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,160000
2925,923251180,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,131000
2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,AllPub,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [26]:
ames.shape

(2930, 81)

In [29]:
ames.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 1 to 2930
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2930 non-null   int64
 1   MS SubClass      2930 non-null   int64
 2   MS Zoning        2930 non-null   object
 3   Lot Frontage     2440 non-null   float64
 4   Lot Area         2930 non-null   int64
 5   Street           2930 non-null   object
 6   Alley            198 non-null    object
 7   Lot Shape        2930 non-null   object
 8   Land Contour     2930 non-null   object
 9   Utilities        2930 non-null   object
 10  Lot Config       2930 non-null   object
 11  Land Slope       2930 non-null   object
 12  Neighborhood     2930 non-null   object
 13  Condition 1      2930 non-null   object
 14  Condition 2      2930 non-null   object
 15  Bldg Type        2930 non-null   object
 16  House Style      2930 non-null   object
 17  Overall Qual     2930 non-null   int64
 18  Overall Cond     2930 non-null   int64
 19  Year Built       2930 non-null   int64
 20  Year Remod/Add   2930 non-null   int64
 21  Roof Style       2930 non-null   object
 22  Roof Matl        2930 non-null   object
 23  Exterior 1st     2930 non-null   object
 24  Exterior 2nd     2930 non-null   object
 25  Mas Vnr Type     2907 non-null   object
 26  Mas Vnr Area     2907 non-null   float64
 27  Exter Qual       2930 non-null   object
 28  Exter Cond       2930 non-null   object
 29  Foundation       2930 non-null   object
 30  Bsmt Qual        2850 non-null   object
 31  Bsmt Cond        2850 non-null   object
 32  Bsmt Exposure    2847 non-null   object
 33  BsmtFin Type 1   2850 non-null   object
 34  BsmtFin SF 1     2929 non-null   float64
 35  BsmtFin Type 2   2849 non-null   object
 36  BsmtFin SF 2     2929 non-null   float64
 37  Bsmt Unf SF      2929 non-null   float64
 38  Total Bsmt SF    2929 non-null   float64
 39  Heating          2930 non-null   object
 40  Heating QC       2930 non-null   object
 41  Central Air      2930 non-null   object
 42  Electrical       2929 non-null   object
 43  1st Flr SF       2930 non-null   int64
 44  2nd Flr SF       2930 non-null   int64
 45  Low Qual Fin SF  2930 non-null   int64
 46  Gr Liv Area      2930 non-null   int64
 47  Bsmt Full Bath   2928 non-null   float64
 48  Bsmt Half Bath   2928 non-null   float64
 49  Full Bath        2930 non-null   int64
 50  Half Bath        2930 non-null   int64
 51  Bedroom AbvGr    2930 non-null   int64
 52  Kitchen AbvGr    2930 non-null   int64
 53  Kitchen Qual     2930 non-null   object
 54  TotRms AbvGrd    2930 non-null   int64
 55  Functional       2930 non-null   object
 56  Fireplaces       2930 non-null   int64
 57  Fireplace Qu     1508 non-null   object
 58  Garage Type      2773 non-null   object
 59  Garage Yr Blt    2771 non-null   float64
 60  Garage Finish    2771 non-null   object
 61  Garage Cars      2929 non-null   float64
 62  Garage Area      2929 non-null   float64
 63  Garage Qual      2771 non-null   object
 64  Garage Cond      2771 non-null   object
 65  Paved Drive      2930 non-null   object
 66  Wood Deck SF     2930 non-null   int64
 67  Open Porch SF    2930 non-null   int64
 68  Enclosed Porch   2930 non-null   int64
 69  3Ssn Porch       2930 non-null   int64
 70  Screen Porch     2930 non-null   int64
 71  Pool Area        2930 non-null   int64
 72  Pool QC          13 non-null     object
 73  Fence            572 non-null    object
 74  Misc Feature     106 non-null    object
 75  Misc Val         2930 non-null   int64
 76  Mo Sold          2930 non-null   int64
 77  Yr Sold          2930 non-null   int64
 78  Sale Type        2930 non-null   object
 79  Sale Condition   2930 non-null   object
 80  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [30]:
ames.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,2929.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,442.629566,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,455.590839,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,734.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [38]:
ames.isnull().sum()[ames.isnull().sum()>0].sort_values(ascending = False)/ames.shape[0]

Pool QC           0.995563
Misc Feature      0.963823
Alley             0.932423
Fence             0.804778
Fireplace Qu      0.485324
Lot Frontage      0.167235
Garage Cond       0.054266
Garage Qual       0.054266
Garage Finish     0.054266
Garage Yr Blt     0.054266
Garage Type       0.053584
Bsmt Exposure     0.028328
BsmtFin Type 2    0.027645
BsmtFin Type 1    0.027304
Bsmt Qual         0.027304
Bsmt Cond         0.027304
Mas Vnr Area      0.007850
Mas Vnr Type      0.007850
Bsmt Half Bath    0.000683
Bsmt Full Bath    0.000683
Total Bsmt SF     0.000341
Bsmt Unf SF       0.000341
Garage Cars       0.000341
Garage Area       0.000341
BsmtFin SF 2      0.000341
BsmtFin SF 1      0.000341
Electrical        0.000341
dtype: float64

In [ ]:
## missing values
#ames.isna().sum()
ames.isnull().sum()[ames.isnull().sum()>0].sort_values(ascending=False)

## Compute % missing
ames.isnull().sum()[ames.isnull().sum()>0].sort_values(ascending=False)/ames.shape[0]

In [41]:
## Make a copy of the original dataset
working_data = ames.copy()

In [42]:
# Drop features
working_data.shape
drop_cols =  ['Pool QC', 'Misc Feature','Alley', 'Fence', 'Fireplace Qu']
working_data.drop(drop_cols, axis = 1, inplace = True)
working_data.shape

(2930, 81)

(2930, 76)

In [43]:
# Drop duplicates
working_data.drop_duplicates(inplace = True, keep = 'last')
working_data.shape

(2930, 76)

#### rename column names

In [44]:
working_data.columns

Index(['PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area', 'Street',
       'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope',
       'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Garage Type',
       'Garage Yr Blt', 'Garage Finish', 'Garage Cars', 'Garage Area',
       'Garage Qual', 'Garage Cond', 'Paved Drive', 'Wood Deck SF',
       'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch',
       'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [45]:
working_data.columns = working_data.columns.str.replace(' ', '')
working_data.columns

Index(['PID', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemod/Add', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [46]:
working_data.columns = [col.lower() for col in working_data]
working_data.columns

Index(['pid', 'mssubclass', 'mszoning', 'lotfrontage', 'lotarea', 'street',
       'lotshape', 'landcontour', 'utilities', 'lotconfig', 'landslope',
       'neighborhood', 'condition1', 'condition2', 'bldgtype', 'housestyle',
       'overallqual', 'overallcond', 'yearbuilt', 'yearremod/add', 'roofstyle',
       'roofmatl', 'exterior1st', 'exterior2nd', 'masvnrtype', 'masvnrarea',
       'exterqual', 'extercond', 'foundation', 'bsmtqual', 'bsmtcond',
       'bsmtexposure', 'bsmtfintype1', 'bsmtfinsf1', 'bsmtfintype2',
       'bsmtfinsf2', 'bsmtunfsf', 'totalbsmtsf', 'heating', 'heatingqc',
       'centralair', 'electrical', '1stflrsf', '2ndflrsf', 'lowqualfinsf',
       'grlivarea', 'bsmtfullbath', 'bsmthalfbath', 'fullbath', 'halfbath',
       'bedroomabvgr', 'kitchenabvgr', 'kitchenqual', 'totrmsabvgrd',
       'functional', 'fireplaces', 'garagetype', 'garageyrblt', 'garagefinish',
       'garagecars', 'garagearea', 'garagequal', 'garagecond', 'paveddrive',
       'wooddecksf', 'openporchsf', 'enclosedporch', '3ssnporch',
       'screenporch', 'poolarea', 'miscval', 'mosold', 'yrsold', 'saletype',
       'salecondition', 'saleprice'],
      dtype='object')

#### Filling missing value example

In [49]:
lotfrontage_mean = working_data['lotfrontage'].mean
working_data['lotfrontage'].fillna(lotfrontage_mean, inplace=True)

#### Frequency counts of categorical variables

In [51]:
working_data['lotshape'].describe()
working_data['lotshape'].value_counts().head(10)

count     2930
unique       4
top        Reg
freq      1859
Name: lotshape, dtype: object

Reg    1859
IR1     979
IR2      76
IR3      16
Name: lotshape, dtype: int64

### Working with dates

In [52]:
from datetime import date

In [55]:
## Combine year and month to get the date
date_sold = pd.DataFrame({'year': working_data['yrsold'], 'month' : working_data['mosold']})
date_sold.shape

(2930, 2)

In [57]:
DATE = []
for yr, mo in zip(date_sold.year, date_sold.month):
    DATE.append(date(yr, mo, 10))

date_sold['Date'] = DATE
date_sold.head()

       year  month        Date
Order
1      2010      5  2010-05-10
2      2010      6  2010-06-10
3      2010      6  2010-06-10
4      2010      4  2010-04-10
5      2010      3  2010-03-10

In [58]:
date_sold['DATE2'] = pd.to_datetime(date_sold[['year', 'month']].assign(DAY=25))
date_sold.head()

       year  month        Date      DATE2
Order
1      2010      5  2010-05-10 2010-05-25
2      2010      6  2010-06-10 2010-06-25
3      2010      6  2010-06-10 2010-06-25
4      2010      4  2010-04-10 2010-04-25
5      2010      3  2010-03-10 2010-03-25

## Subsetting the data

In [63]:
subset_data = working_data[['saleprice','mosold']]
grouped_data = subset_data.groupby([ 'mosold'])

In [64]:
grouped_data.mean()

            saleprice
mosold
1       194210.016260
2       178364.345865
3       176130.461207
4       167711.989247
5       173700.215190
6       181542.562376
7       184366.864143
8       186222.463519
9       191552.142857
10      180057.063584
11      187651.265734
12      184454.048077

#### Build-in data set

In [65]:
import statsmodels.api as sm
df_cars = sm.datasets.get_rdataset(dataname='mtcars', package='datasets').data

## Explore data

In [ ]:
df_cars.head()
df_cars.tail()

In [ ]:
df_cars.columns

In [ ]:
df_cars.shape

In [ ]:
df_cars.info()

In [ ]:
df_cars.dtypes

In [ ]:
df_cars.describe()

In [ ]:
df_cars.cyl.describe()
df_cars.cyl.value_counts()

## Slicing and Dicing

In [ ]:
df_cars.iloc[:3,:2]

In [ ]:
df_cars.hp
df_cars['hp']

## Check missing values

In [ ]:
df_cars.isna().sum()

### Dates

In [ ]:
date_examples = pd.DataFrame({'date': ['2021-1-27 23:59:0', '2021-2-3 20:59:0', '2021-2-7 0:0:0'], 'value': [1,10, 20]})
date_examples.info()

In [ ]:
date_examples['date'] = pd.to_datetime(date_examples['date'], format="%Y-%m-%d %H:%M:$S")
date_examples.info()
date_examples['date'].dt.dayofweek
pd.to_datetime('today')

## Tip

In [ ]:
new_df = df_cars
id(new_df) == id(df_cars)

In [ ]:
copy_df = df_cars.copy()
id(copy_df) == id(df_cars)

In [ ]:
df_cars.head()
df_cars.iloc[[1]]
df_cars.iloc[1] # provides a series
df_cars.iloc[1,2]

In [ ]:
df_cars.loc[df_cars['mpg']==df_cars['mpg'].min(),'mpg']

In [ ]:
df_cars[df_cars['mpg']==df_cars['mpg'].min()] 
df_cars[['mpg','hp','cyl']][df_cars['mpg']==df_cars['mpg'].min()]

In [ ]:
df_cars.loc[['Cadillac Fleetwood'],['mpg','disp']]